* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: green;
    text-align: center;
    text-decoration: underline;
}


h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}

.primerparrafo {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 18px;
    width: 150px;
    background-color: yellow;
    display: inline-block;
    overflow: auto;
    text-align: center;
}
.precios{
    font-family: 'Times New Roman', Times, serif;
    color:red;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}
.btn {
    background-color: aqua;
}




header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: chartreuse;
}

.navbar-nav a {
    text-decoration: none;
}

.navbar-nav a:hover {
    color: red;
}

.navbar-nav a:active {
    font-size: 30px;

}




.imagen {
    height: 128px;
    
}


.imagen-accesorio {
    display: flex;
    justify-content: space-around;
    overflow: auto;
}
.imagen-accesorio img {
    transition: all 2s;
}
.imagen-accesorio img:hover {
    transform: scale(2);
}

.imagen-perfumeria {
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

.imagen-medicamentos {
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

.imagen-medicamentos p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

ul {
    /* pone las opciones del menu una al lado de la otra */
    display: flex;
    /* saca las viñetas */
    list-style: none;
    /* pone el espacio entre cada una de las opciones del menu */
    gap: 20px;
    /*font-size: 20px;*/

}


footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor {
    display: grid;
    grid-template-rows: 200px 50px 200px 200px 50px;
    grid-template-columns: repeat(3, 300px);
    border: 1px solid black;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;

}



.img1 {
    height: 100%;
    width: 100%;
    grid-column: 1/2;

}


.img2 {
    height: 100%;
    width: 100%;
    grid-column: 2/4;
}
.precio-img1{
    height: 100%;
    width: 100%;
    grid-row:2/3;
    grid-column: 1/2;
    text-align: center;
}
.precio-img2{
    height: 100%;
    width: 100%;
    grid-row:2/3;
    grid-column: 2/4;
    text-align: center;
}

.img3 {
    height: 100%;
    width: 100%;
    grid-row: 3/5;
    grid-column: 1/2;

}

.img4 {
    height: 100%;
    width: 100%;
    grid-row: 3/5;
    grid-column: 2/3;
}

.img5 {
    height: 100%;
    width: 100%;
    grid-row: 3/5;
    grid-column: 3/4;

}
.precio-img3{
    height: 100%;
    width: 100%;
    grid-row:5/6;
    grid-column: 1/2;
    text-align: center;

}
.precio-img4{
    height: 100%;
    width: 100%;
    grid-row:5/6;
    grid-column: 2/3;
    text-align: center;

}.precio-img5{
    height: 100%;
    width: 100%;
    grid-row:5/6;
    grid-column: 3/4;
    text-align: center;

}
.parrafo-obrassociales{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    display: block;
    text-align: center;
}
.formulario {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: auto;
    color:orange;
    background-image: url('../img/fondo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.posicion-mail {
    position: relative;
    left: 50px;
}

.posicion-consulta {
    position: relative;
    left: 65px;
}

@media screen and (max-width:425px) {
    nav ul {
        display: none;

    }

    .imagen-accesorio {

        height: 128px;
        overflow: auto;
    }

    .imagen-perfumeria {
        height: 128px;
        overflow: auto;
    }

    .imagen-medicamentos img {
        height: 64px;

    }

    .imagen-medicamentos p {

        font-size: 10px;

    }

    .imagen-medicamentos {
        overflow: auto;
    }

    .contenedor-mobil {
        grid-template-rows: 200px 50px 200px 200px 50px;
        grid-template-columns: repeat(3, 1fr);

        overflow: auto;
    }
    .img1{
        object-fit: contain;
    }
    .img2{
        object-fit: contain;
    }
    .img3{
        object-fit: contain;
    }
    img4{
        object-fit: contain;
    }
    img5{
        object-fit: contain;
    }

@media screen and (min-width:425px) and (max-width:768px) {
    nav ul {
        display: none;

    }

    .imagen-accesorio {

        height: 128px;
        overflow: auto;
    }

    .imagen-perfumeria {
        height: 128px;
        overflow: auto;
    }

    .imagen-medicamentos img {
        height: 64px;

    }

    .imagen-medicamentos p {

        font-size: 10px;

    }

    .imagen-medicamentos {
        overflow: auto;
    }

    .contenedor-mobil {
        grid-template-rows: 200px 50px 200px 200px 50px;
        grid-template-columns: repeat(3, 1fr);

        overflow: auto;
    }
    
}